<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= emote1 %></title>
  <link rel="stylesheet" href="style.css">
  <link rel="favicon" href="favicon.ico">
</head>
<body>
  <div class="container" onclick="document.location = '//cnnd.co.uk'"><%= emote2 %></div>
</body>
</html>