<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= emote1 %></title>
  <link rel="stylesheet" href="style.css">
  <link rel="favicon" href="favicon.ico">
  <meta name="description" content="le distributed sharex server

domains used:
art.cnnd.art
cnnd.fun
fun.cnnd.fun
xyz.cnnd.xyz
life.ifunny.life
fart.hehe-f.art
rocks.i-love.rocks
pics.weplit.com
pictures.weplit.com
imgoingtobiteyou.com
replnet.com
replti.com
rreplit.com
shard.pictures
vemdinmasheen.com">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://cnnd.fun/">
<meta property="og:type" content="website">
<meta property="og:title" content="">
<meta property="og:description" content="le distributed sharex server

domains used:
art.cnnd.art
cnnd.fun
fun.cnnd.fun
xyz.cnnd.xyz
life.ifunny.life
fart.hehe-f.art
rocks.i-love.rocks
pics.weplit.com
pictures.weplit.com
imgoingtobiteyou.com
replnet.com
replti.com
rreplit.com
shard.pictures
vemdinmasheen.com">
<meta property="og:image" content="https://cnnd.fun/cover.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="cnnd.fun">
<meta property="twitter:url" content="https://cnnd.fun/">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="le distributed sharex server

domains used:
art.cnnd.art
cnnd.fun
fun.cnnd.fun
xyz.cnnd.xyz
life.ifunny.life
fart.hehe-f.art
rocks.i-love.rocks
pics.weplit.com
pictures.weplit.com
imgoingtobiteyou.com
replnet.com
replti.com
rreplit.com
shard.pictures
vemdinmasheen.com">
<meta name="twitter:image" content="https://cnnd.fun/cover.png">
</head>
<body>
  <div class="container" onclick="document.location = '//github.com/connordennison/ReplDB-CDN'"><%= emote2 %></div>
</body>
</html>