<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='preconnect' href='https://fonts.googleapis.com'>
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
  <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap' rel='stylesheet'>
  <link rel='stylesheet' href='/styles/vars.css'>
  <link rel='stylesheet' href='/styles/main.css'>
  <title>shard.pictures</title>
</head>

<body>
  <div class='container'>
    <span class='title accent'>shard.pictures</span>
    <span class='content'>a distributed file host</span>
    <div class='info-buttons'>
      <div class='button' onclick='document.location =  "https:\/\/shard.pictures/dashboard"'>visit dashboard
      </div>
      <div class='button'
        onclick='document.location =  "https:\/\/github.com/shard-pictures/main/blob/master/README.md"'>read more</div>
    </div>
  </div>
  <footer>
    <%= emote2 %><br>
    made by <a href="//piemadd.com">Piero Maddaleni</a> and <a href="//cnnd.co.uk">Connor Dennison</a>
  </footer>
</body>

</html>