<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
	<link rel="stylesheet" href="https://water-css-custom.piemadd.repl.co/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>login | shard.pictures
	</title>
</head>

<body>
	<div class="eee">
		<div>
			<center>
				<h1>login | shard.pictures
				</h1>
				<script authed="location.reload()" src="https://static.replit.sh/auth.js">
				</script>
			</center>
		</div>
	</div>
</body>

</html>