<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
	<link rel="stylesheet" href="https://water-css-custom.piemadd.repl.co/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>regenerate | shard.pictures</title>
</head>
<body>
<div class="eee">
		<div>
<p><b>Are you sure you want to regenerate your token? This cannot be reversed and will invalidate any configurations you have downloaded: </b></p>
<form action="/regenerate/<%= repl_id %>">
<input type="submit" value="Regenerate">
</form>
</div>
</div>

</body>
</html>