<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
	<link rel="stylesheet" href="https://water-css-custom.piemadd.repl.co/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>token | shard.pictures</title>
</head>
<body>

<p><b>Copy your token below: </b></p>
  <input type="text" name="token" value="<%= token %>" readonly>
</body>
</html>